# Pyspark Dataframes
### Filter Operation
### &, |, ==
### ~

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [ ]:
df_pyspark = spark.read.csv('test3.csv', header = True, inferSchema = True)
df_pyspark.show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Tham| 22|        10| 30000|
|Long | 20|         8| 10000|
|Thien| 21|         4| 20000|
|    A| 29|         8| 25000|
|    B| 30|         3| 40000|
|    C| 40|         1| 15000|
+-----+---+----------+------+

### Filter Operations

In [10]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary < 20000").show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Long | 20|         8| 10000|
|    C| 40|         1| 15000|
+-----+---+----------+------+

In [13]:
df_pyspark.filter('Salary < 30000').select(['Name', 'Age']).show()

+-----+---+
| Name|Age|
+-----+---+
|Long | 20|
|Thien| 21|
|    A| 29|
|    C| 40|
+-----+---+

In [15]:
# Nên dùng cách này để show dữ liệu
df_pyspark.filter((df_pyspark['Salary'] <= 30000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Tham| 22|        10| 30000|
|Long | 20|         8| 10000|
|Thien| 21|         4| 20000|
|    A| 29|         8| 25000|
|    C| 40|         1| 15000|
+-----+---+----------+------+

In [18]:
# &: Là dấu và
df_pyspark.filter((df_pyspark['Salary'] <= 30000) &
                  (df_pyspark['Salary'] >= 15000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Tham| 22|        10| 30000|
|Thien| 21|         4| 20000|
|    A| 29|         8| 25000|
|    C| 40|         1| 15000|
+-----+---+----------+------+

In [19]:
# |: Là dấu hoặc
df_pyspark.filter((df_pyspark['Salary'] <= 30000) |
                  (df_pyspark['Salary'] >= 15000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Tham| 22|        10| 30000|
|Long | 20|         8| 10000|
|Thien| 21|         4| 20000|
|    A| 29|         8| 25000|
|    B| 30|         3| 40000|
|    C| 40|         1| 15000|
+-----+---+----------+------+

In [22]:
# ~: Nghịch đảo với dữ liệu
df_pyspark.filter(~(df_pyspark['Salary'] <= 30000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|   B| 30|         3| 40000|
+----+---+----------+------+