In [1]:
import pyspark

In [2]:
import pandas as pd
pd.read_csv('test1.csv').head(2)

    Name  Age  Experience
0   Tham   22          10
1  Long    20           8

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('test').getOrCreate()

In [5]:
spark

In [6]:
df_pyspark = spark.read.csv('test1.csv')

In [7]:
# Show có bao nhiêu cột và kiểu dữ liệu từng cột
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [13]:
# Show ra bảng
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
| Tham| 22|        10|
|Long | 20|         8|
|Thien| 21|         4|
+-----+---+----------+

In [9]:
# Đưa header lên làm tiêu đề chính
df_pyspark = spark.read.option('header', 'true').csv('test1.csv')

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
# Khác với pandas
df_pyspark.head()

Row(Name='Tham', Age='22', Experience='10')

In [12]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)