# -- Knows --
### Pyspark Dataframe 
### Reading The Dataset
### Checking the Datatypes of the Column (Schema)
### Selecting Columns And Indexing
### Check Describe option similar to Pandas
### Adding Columns
### Dropping columns
### Renaming columns

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('test1').getOrCreate()

In [3]:
spark

In [26]:
# Read the Dataset
# InferSchema tự xếp kiểu dữ liệu
df_pyspark = spark.read.option('header', 'true').csv('test1.csv', inferSchema = True)

In [27]:
# Để show() không chạy schema được
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [18]:
# Gộp
df_pyspark = spark.read.csv('test1.csv', header = True, inferSchema = True)
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
| Tham| 22|        10|
|Long | 20|         8|
|Thien| 21|         4|
+-----+---+----------+

In [7]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [8]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [9]:
# Lấy ra tên cột
df_pyspark.columns

['Name', 'Age', 'Experience']

In [19]:
df_pyspark.head()

Row(Name='Tham', Age=22, Experience=10)

In [11]:
# Lấy ra cột
df_pyspark.select(['Name', 'Age']) # Cột name

DataFrame[Name: string, Age: int]

In [20]:
df_pyspark.select('Name').show()

+-----+
| Name|
+-----+
| Tham|
|Long |
|Thien|
+-----+

In [13]:
# Xem kiểu dữ liệu của cột
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [14]:
# Khác với pandas không thể showw cột
df_pyspark['Name']

Column<'Name'>

In [15]:
# Dtypes là của pandas
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [16]:
# Mô tả
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [17]:
df_pyspark.describe().show()

+-------+-----+----+-----------------+
|summary| Name| Age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| null|21.0|7.333333333333333|
| stddev| null| 1.0|3.055050463303893|
|    min|Long |  20|                4|
|    max|Thien|  22|               10|
+-------+-----+----+-----------------+

In [28]:
# Adding Columns in data frame
df_pyspark = df_pyspark.withColumn("Experience After 2 year", df_pyspark['Experience'] + 2)

In [29]:
df_pyspark.show()

+-----+---+----------+-----------------------+
| Name|Age|Experience|Experience After 2 year|
+-----+---+----------+-----------------------+
| Tham| 22|        10|                     12|
|Long | 20|         8|                     10|
|Thien| 21|         4|                      6|
+-----+---+----------+-----------------------+

In [31]:
# Drop the columns
df_pyspark = df_pyspark.drop('Experience After 2 year')

In [32]:
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
| Tham| 22|        10|
|Long | 20|         8|
|Thien| 21|         4|
+-----+---+----------+

In [33]:
# Rename the columns
df_pyspark.withColumnRenamed('Name', 'New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|    Tham| 22|        10|
|   Long | 20|         8|
|   Thien| 21|         4|
+--------+---+----------+