# Pyspark Handing Missing Values
### Dropping Columns
### Dropping Rows
### Various Parameter In Dropping functionalities
### Handing Missing values by Mean, MEdian And Mode

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [2]:
df_pyspark = spark.read.csv('test2.csv', header = True, inferSchema = True)

In [3]:
df_pyspark

DataFrame[Name: string, Age: int, Experience: int, Salary: int]

In [4]:
# drop the columns
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  22|        10| 30000|
|  20|         8| 10000|
|  21|         4| 20000|
|  29|         8| 25000|
|  30|         3| 40000|
|  40|         1| 15000|
|null|      null| 38000|
|  34|        10|  5000|
|  35|      null|  null|
+----+----------+------+

In [5]:
# Drop null
df_pyspark.na.drop().show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Tham| 22|        10| 30000|
|Long | 20|         8| 10000|
|Thien| 21|         4| 20000|
|    A| 29|         8| 25000|
|    B| 30|         3| 40000|
|    C| 40|         1| 15000|
+-----+---+----------+------+

In [6]:
# any = how
df_pyspark.na.drop(how='all').show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| Tham|  22|        10| 30000|
|Long |  20|         8| 10000|
|Thien|  21|         4| 20000|
|    A|  29|         8| 25000|
|    B|  30|         3| 40000|
|    C|  40|         1| 15000|
|    D|null|      null| 38000|
| null|  34|        10|  5000|
| null|  35|      null|  null|
+-----+----+----------+------+

In [7]:
df_pyspark.na.drop(how='any').show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Tham| 22|        10| 30000|
|Long | 20|         8| 10000|
|Thien| 21|         4| 20000|
|    A| 29|         8| 25000|
|    B| 30|         3| 40000|
|    C| 40|         1| 15000|
+-----+---+----------+------+

In [8]:
# Threshold -- Phải có ít nhất 2 giá trị không null
df_pyspark.na.drop(how = 'any', thresh = 2).show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| Tham|  22|        10| 30000|
|Long |  20|         8| 10000|
|Thien|  21|         4| 20000|
|    A|  29|         8| 25000|
|    B|  30|         3| 40000|
|    C|  40|         1| 15000|
|    D|null|      null| 38000|
| null|  34|        10|  5000|
+-----+----+----------+------+

In [9]:
# Subset -- Xóa bất cứ dòng nào trong cột Experience có null
df_pyspark.na.drop(how = 'any', subset = ["Experience"]).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Tham| 22|        10| 30000|
|Long | 20|         8| 10000|
|Thien| 21|         4| 20000|
|    A| 29|         8| 25000|
|    B| 30|         3| 40000|
|    C| 40|         1| 15000|
| null| 34|        10|  5000|
+-----+---+----------+------+

In [10]:
# Filling the Missing Value
df_pyspark.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|          Tham|  22|        10| 30000|
|         Long |  20|         8| 10000|
|         Thien|  21|         4| 20000|
|             A|  29|         8| 25000|
|             B|  30|         3| 40000|
|             C|  40|         1| 15000|
|             D|null|      null| 38000|
|Missing Values|  34|        10|  5000|
|Missing Values|  35|      null|  null|
+--------------+----+----------+------+

In [16]:
# Mean: Giá trị trung bình của tất cả chỉ số
# Median: Giá trị trung vị, Lấy giá trị giữa có làm tròn
# Mode: lấy giá trị phổ biến (Như nhau thì lấy giá trị đầu tiên)
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols= ['Age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy("mode")

# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-----+----+----------+------+-----------+------------------+--------------+
| Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-----+----+----------+------+-----------+------------------+--------------+
| Tham|  22|        10| 30000|         22|                10|         30000|
|Long |  20|         8| 10000|         20|                 8|         10000|
|Thien|  21|         4| 20000|         21|                 4|         20000|
|    A|  29|         8| 25000|         29|                 8|         25000|
|    B|  30|         3| 40000|         30|                 3|         40000|
|    C|  40|         1| 15000|         40|                 1|         15000|
|    D|null|      null| 38000|         20|                 8|         38000|
| null|  34|        10|  5000|         34|                10|          5000|
| null|  35|      null|  null|         35|                 8|          5000|
+-----+----+----------+------+-----------+------------------+--------------+